@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
}

h1, h2, h3, h4, h5, h6{
	font-family: "Montserrat", sans-serif;
}

p{
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	text-align: justify;
}

main{
	width: 100%;
	min-height: 100vh;

	background: #eee;
	display: flex;

	justify-content: center;
	align-items: center;
}

main>section{
	width: 80%;

	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

main>section>article{
	flex: 1 0 30%;
	min-width: 40ch;
	margin: 32px 16px;
	padding: 32px 40px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	color: white;
	font-size: 20px;

	background: #0D47A1;

	border-radius: 15px 0;
}

main p{
	margin: 0 0 16px;
}

main h3{
	margin: 64px 0;
	align-self: flex-start;
	font-size: 1.7em;
}

main button{
	margin: 32px 0;
	align-self: flex-end;
	padding: 16px 32px ;

	color: white;
	font-size: 0.7em;

	background: transparent;
	border: 1px solid white;

	transition: 250ms ease-in-out all;
}

main button:hover{
	background: white;
	color: #0D47A1;
}