@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
	box-sizing: border-box;
}

body{
	margin: 0;
}

h1, h2, h3, h4, h5, h6{
	font-family: "Montserrat", sans-serif;
}

h3{
	font-size: 1.5em;
}

p{
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	text-align: justify;
}

header{
	width: 100%;
	height: 100vh;

	margin: 0;
	padding: 0;

	background-image: url("./img/main.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

header>div{
	width: 100%;
	height: 100vh;

	padding: 16px;
	background-color: #000000aa;
}

header h1{
	margin: 72px 0;

	text-align: center;

	color: white;
	font-size: 5rem;

	font-weight: 100;
}

nav#navbar{
	width: 100%;
	height: auto;

	margin: 0;
	padding: 16px 16px 0;

	position: sticky;
	position: -webkit-sticky;
	top: 0;
	left: 0;

	background: #1A237E;
}

nav#navbar > h2 {
	margin: 0 0 8px;

	text-align: center;
	color: white;
	font-size: 2em;
}

nav#navbar > ul {
	margin: 0;
	padding: 0;

	list-style: none;
	text-align: center;
}

nav#navbar li{
	display: inline-block;
}

nav#navbar li>a{
	display: inline-block;
	padding: 16px 32px;

	color: white;
	text-decoration: none;
	font-family: "Roboto", sans-serif;
	font-weight: 300;

	transition: ease-in-out 250ms all;
}

nav#navbar li>a:hover{
	text-decoration: underline white;
	background: #3949AB;
	border-radius: 15px 15px 0 0;
}

main{
	margin: 64px 15%;
}

main>section{
	border-bottom: 1px #aaa solid;
}

main>section:last-child{
	border-bottom: 0;
}

main>section>p:first-of-type::first-letter{
	font-size: 2em;
}

footer{
	width: 100%;
	padding: 32px;

	background: #eee;
}

footer>p{
	text-align: center;
	color: #999;
}