.card{
	width: 15%;
	height: auto;
	overflow: hidden;

	background: #1A237E;
	color: white;

	border-radius: 15px 0 15px 0;
}

.card > header {
	border-radius: 0 0 15px 15px;
}

.card > header, .card > footer {
	padding: 16px;
	background: #303F9F;
}

.card h1, .card h2 {
	margin: 0 auto;

	font-size: 1.5em;
	text-align: center;
	font-weight: normal;
}

.card > main {
	padding: 4px 8px;
	height: 150px;
	overflow-y: auto;
}

.card  p {
	text-align: justify;
	font-size: 0.8em;
}

.card > footer {
	border-radius: 15px 15px 0 0;
}