div{
	width: 100px;
	height: 100px;

	background: #eee;
	margin-bottom: 10px;
}

.clase{
	border: 5px dotted #999;	
}

#cajaUnica{
	background: #D32F2F;
}

h1{
	width: 40%;
	padding: 16px;
	margin: 10px auto 36px;

	background: crimson;

	color: whitesmoke;
	font-size: 36px;
	letter-spacing: -2px;
	text-align: center;

	border-radius: 15px 0 15px 0;
}

p{
	margin: 16px;
	text-align: justify;
}

#intro{
	padding: 16px;
	border: 1px solid black;
}

.important{
	color: crimson;
	font-weight: bold;
}