@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
	margin: 0;
	box-sizing: border-box;
}

body{
	width: 100%;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.list{
	width: 450px;
	height: 650px;

	overflow-y: auto;

	background: #eee;
}

.list dt {
	width: 100%;
	background: crimson;

	padding: 16px;

	color: white;
	font-family: "Montserrat", sans-serif;

	border-radius: 0 0 15px 15px;

	margin: 0 0 16px;

	position: sticky;
	position: -webkit-sticky;

	top: 0;
	left: 0;

	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

.list dt:nth-of-type(2n){
	background: steelblue;
}

.list dd{
	width: 100%;
	padding: 16px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
}

