@font-face{
	font-family: "CustomFont";
	src: url("./fonts/OpenSansCondensed-Light.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

p{
	text-align: justify;
}

#first{
	font-family: "CustomFont", sans-serif;
}

#second{
	font-family: "Montserrat", sans-serif;
}

#third{
	font-family: "Roboto", sans-serif;
	font-weight: 300;
}